@import '../../../sass/theme.scss';

.aboutHome-container{
    text-align: center;
    width: 70%;
    border: 4px solid $light-mode-text-border;
    background-color: $light-mode-navbar-bg;
    margin-left: 60%;
    margin-top: -28.4%;

    .aboutHome-profile{
        display: grid;
        grid-template-columns: 1fr 1fr;

        .aboutHome-img{
            margin-left: 80px;
            margin-top: 40px;
            width: 120px;
            height: 120px;
            background-color: $light-mode-text-border;
            position: relative;

            img{
                width: 130px;
                position: absolute;
                top: -20px;
                left: 10px;
            }
        }
        .aboutHome-text{
            text-align: justify;
            width: 80%;

            h1{
                color: $light-mode-text-border;
            }
            .aboutHome-button{
                width: 80px;
                height: 35px;
                border-radius: 5px;
                margin-right: 10px;
                background-color: $light-mode-text-border;                
                
                a{
                    color: $dark-mode-text;
                    text-decoration: none;
                    font-size: 0.6rem;
                    font-weight: bold   
                }
            }
            .aboutHome-buttontwo{
                @extend .aboutHome-button;
                background-color: $light-mode-text-button;
                color: $light-mode-text-border;     
                border: 1px solid $light-mode-text-border;
                a{
                    text-decoration: none;
                    color: $light-mode-text-border;     
                }
            }
        }
        
    }

    h2{
        text-align: start;
        margin-left: 25px;
    }

    .aboutHome-myJourneys{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 30px;

        .aboutHome-myJourney{
            display: grid;
            grid-template-columns: 1fr 1fr;

            .myJourney-icon{
                font-size: 1.5rem;
                margin-top: 10px;
                margin-left: 30px;
                color: $light-mode-text-border;
                border: 1px dashed $light-mode-text-border;
                border-radius: 7px;
                padding: 2px;
            }
            .myJourney-text{
                margin-top: 10px;
                line-height: 10px;
                :last-child{
                    color: $light-mode-text-border;
                }
            }
        }
    }

    .aboutHome-interests{
        display: grid;
        grid-template-columns: 75px 75px 75px;

        .aboutHome-interest{
            display: flex;
            flex-direction: row;

            p:last-child{
                margin-top: 30px;
                margin-left: -15px;
            }

            .interest-icon{
                font-size: 1.7rem;
                margin-top: 15px;
                margin-right: 20px;
                color: $light-mode-text-border;
            }
        }
    }
}