@import "../../../sass/theme.scss" ;

.service{
        width: 20%;
        height: 300px;
        border: 1px dashed $light-mode-text-border;
        padding: 20px;
        margin-left: 175px;
        margin-top: 50px;

        @media screen and (max-width: 450px){
            width: 60%;
            margin: 20px auto;
        }

        &__icon{
            margin-top: 20px;
            font-size: 3.5rem;
            color: $light-mode-text-border;
        }

        &__text{
            font-size: 1.5rem;
        }
}