@import '../../sass/theme.scss';

.portfolio-contrainer{
    color: $light-mode-text;
    width: 100%;
    @include background-light;
    margin-left: 300px;
    
    .header{
        text-align: center;
        font-size: 1.5rem;
        margin-top: 30px;
    }

    .portfolio-projects{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 50px 0px;
    }
}

@media screen and (max-width: 450px){
    .portfolio-contrainer{
        margin: 0;
    }
}
