@import '../../../sass/theme.scss';

.skill{
    margin: auto 50px;
    width: 100%;
    
        @media screen and (max-width: 450px){ 
            margin: 0;
            width: 100%;
            text-align: center;
        }
    
    &__list-element-bar{
        width: 60%;
        height: 15px;
        background-color: white;
        border: 1px solid black;
        margin-bottom: 50px;
        
        @media screen and (max-width: 450px){ 
            margin: 20px 25%;
        }
    }

    &__bar{
        width: 90%;
        height: 15px;
        background-color: $light-mode-text-border;
    }
}
@media screen and (max-width: 450px){
    .skill-list-element-name{
        margin-left: 10%;
    }
}