@import '../../sass/theme.scss';

.themeChanger{
    width: 50px;
    height: 40px;
    border-radius: 20px;
    background-color: $light-mode-text-border;
    cursor: pointer;
    transition: 1.5s;

        @media screen and (max-width: 400px){
            width: 30px;
            height: min-content;
        }

    &__icon{
        font-size: 1.5rem;
        margin-top: 5%;
        color: $light-mode-text;

        @media screen and (max-width: 400px){
            font-size: 1.2rem;    
        }
    }
}
.dark-mode .themeChanger{
    background-color: $dark-mode-navbar-bg;
    
    &__icon{
      color: $dark-mode-text-border;
    }
  }