@import '../../sass/theme.scss';

.resume-wrapper{
    width: 100%;
    margin-left: 300px;
    @include background-light;
    
    h1{
        text-align: center;
        margin-right: 200px;
    }
    .resume-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 50px 300px;
    }
}

@media screen and (max-width: 400px){
    .resume-wrapper{
        width: 90%;
        margin: 0px;

        h1{
            width: 100%;
            text-align: center;
        }
        .resume-container{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            margin: 0px;
        }
        .resume-title{
            border: 1px solid red;
            width: 100%;
        }
    }
}