@import '../../sass/theme.scss';

.resume{
    width: 100%;
    margin-left: 300px;
    @include background-light;
    
    @media screen and (max-width: 450px){
        width: 100%;
        margin: 20px 0;
    }


    h1{
        text-align: center;
        margin-right: 200px;

        @media screen and (max-width: 450px){
            width: 100%;
        }
    }
    &__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 50px 300px;

        @media screen and (max-width: 450px){
            width: 100%;
            grid-template-columns: 1fr;
            margin: 0px;
        }
    }
}

@media screen and (max-width: 450px){
    .resume__title{
        width: 100%;
            .resume-elements{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }