@import '../../../sass/theme.scss';

.menu-icon{
    display: none;
}
.navbarHome-sideBar{
    width: 250px;
    font-size: 1.3rem;
    height: 550px;
    position: relative;
    background-color: $light-mode-navbar-bg;
    border-bottom-left-radius: 23px;
    border-top-left-radius: 23px;

    h1{
        margin-left: 20px;
        &::first-letter{
            color: $light-mode-text-border;
        }
    }

    .navbarHome-links{
        width: 50px;
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin-top: -15px;
        font-size: 1rem;
        
        .navbarHome-link{
            margin-right: 5px;
            line-height: 15px;
        }
        
        a{
            color: $light-mode-text;
            display: flex;
            flex-direction: row;
            text-decoration: none;
        }

    }
    .navbarHome-footer{
        position: absolute;
        bottom: 0px;
        width: 100%;
        
        .navbarHome-social{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            
            .icon{
                color: $light-mode-text;
                font-size: 1.4rem;
            }
        }
        .navbarHome-copy{
            text-align: center;
            font-size: 0.5rem;
        }
    }
}
@media screen and (max-width: 400px){
    .menu-icon{
        display: block;
    }
    .navbarHome-sideBar{
        border: 1px solid black;
        width: 500px;
        height: 400px;
        margin: 0px;
        border-radius: 30px;
        h1{
            margin: 10px 35%;
        }
        .navbarHome-links{
            margin: -10px 30%;
            &:hover{
                font-weight: bold;
            }
            a{
                width: 50%;
            }
        }
    }
}