@import '../../sass/theme.scss';

.about-container{
    text-align: center;
    width: 100%;
    margin-left: 300px;
    @include background-light;
    
    .about-profile{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 25px;
        
        .about-img{
            border: 1px solid black;
            margin-left: 25%;
            margin-top: 5%;
            width: 220px;
            height: 220px;
            background-color: $light-mode-text-border;
            position: relative;

            img{
                width: 220px;
                position: absolute;
                top: -20px;
                left: 20px;
            }
        }
        
        .about-text{
            text-align: justify;
            width: 80%;
            font-size: 1.1rem;

            h1{
                color: $light-mode-text-border;
            }

            .about-button{
                width: 120px;
                height: 40px;
                border-radius: 10px;
                margin-right: 20px;
                margin-top: 5%;
                background-color: $light-mode-text-border;                
                
                a{
                    text-decoration: none;
                    color: $dark-mode-text;     
                }
            }
            .about-buttontwo{
                @extend .about-button;
                background-color: $light-mode-text-button;
                color: $light-mode-text-border;     
                border: 1px solid $light-mode-text-border;
                a{
                    text-decoration: none;
                    color: $light-mode-text-border;     
                }
            }
        }
       
        .about-myJourneys{
            display: grid;
            grid-template-columns: auto auto;
            margin-left: 150px;
        }   
    }
    .interest-header{
        margin-right: 30%;
    }
    .about-interests{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 10px 6%;
        width: 80%;
    }
}

@media screen and (max-width: 450px){
    .about-container{
        width: 100%;
        margin-top: 10px;
        margin-left: 0px;
        
        .about-profile{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            
            .about-img{
                width: 50%;
                align-items: center;
                margin-left: 25%;
            }

            .about-text{
                width: 100%;
                align-items: center;
                margin-left: 5%;
                text-align: center;

                h1{
                    text-align: center;
                }

                p{
                    text-align: justify;
                    width: 90%;
                }
                
                .about-btns{
                    display: flex;
                    justify-content: space-between;
                    margin-left: 20px;
                    button{
                        font-size: 1rem;
                    }
                }
            }
            .myJourney-container{
                width: 100%;
                margin-top: 50px;

                .about-myJourneys{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    
                }
            }
            .interest-container{
                width: 100%;
                margin: 0px;
                
                .interest-header{
                    margin: 20px 0px;
                }
                
                .about-interests{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                }
            }
        }
    }
}