@import '../../sass/theme.scss';

.about-container{
    text-align: center;
    width: 100%;
    margin-left: 300px;
    @include background-light;

    .about-profile{
        display: grid;
        grid-template-columns: 1fr 1fr;

        .about-img{
            margin-left: 150px;
            margin-top: 50px;
            width: 220px;
            height: 220px;
            background-color: $light-mode-text-border;
            position: relative;

            img{
                width: 220px;
                position: absolute;
                top: -20px;
                left: 20px;
            }
        }
        
        .about-text{
            text-align: justify;
            width: 70%;
            font-size: 0.95rem;

            h1{
                color: $light-mode-text-border;
            }

            .about-button{
                width: 120px;
                height: 40px;
                border-radius: 10px;
                margin-right: 20px;
                background-color: $light-mode-text-border;                
                
                a{
                    text-decoration: none;
                    color: $dark-mode-text;     
                }
            }
            .about-buttontwo{
                @extend .about-button;
                background-color: $light-mode-text-button;
                color: $light-mode-text-border;     
                border: 1px solid $light-mode-text-border;
                a{
                    text-decoration: none;
                    color: $light-mode-text-border;     
                }
            }
        }
       
        .about-myJourneys{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-right: 30px;
    
            .about-myJourney{
                display: grid;
                grid-template-columns: 100px 150px;
                
                .myJourney-icon{
                    font-size: 2.5rem;
                    margin-top: 5px;
                    margin-left: 90px;
                    color: $light-mode-text-border;
                    border: 1px dashed $light-mode-text-border;
                    border-radius: 10px;
                    padding: 3px;
                }
                .myJourney-text{
                    margin-top: 10px;
                    line-height: 10px;
                    text-align: start;
                    margin-left: 50px;
                    :last-child{
                        color: $light-mode-text-border;
                    }
                }
            }
        }   
    }
    .interest-header{
        margin-right: 30%;
    }
    .about-interests{
        display: grid;
        grid-template-columns: 150px 150px 150px;
        margin-top: 10px;

        .about-interest{
            display: flex;
            flex-direction: row;

            p:last-child{
                margin-top: 30px;
                margin-left: 15px;
            }

            .interest-icon{
                font-size: 3rem;
                margin-top: 5px;
                margin-left: 20px;
                color: $light-mode-text-border;
            }
        }
    }
}
@media screen and (max-width: 400px){
    .about-container{
        width: 100%;
        margin-top: 10px;
        margin-left: 0px;

        .about-profile{
            width: 70%;
            display: grid;
            grid-template-columns: 1fr;

            .about-img{
                width: 60%;
               margin-left: 20%;
               margin-top: 20px;
            }
            .about-text{
                width: 80%;
                align-items: center;
                margin-left: 20%;

                h1,h3,p{
                    text-align: center;
                }
                .about-btns{
                    display: flex;
                    justify-content: space-around;
                    margin-left: 20px;
                    button{
                        font-size: 0.7rem;
                    }
                }
            }
            .myJourney-container{
                width: 100%;
                margin-top: 50px;

                .about-myJourneys{
                    display: flex;
                    flex-direction: column;
                    margin-left: 30px;
                }
            }
           h2{
               margin-left: 30px;
               width: 100%;
           }
            .about-interests{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}