@import '../../sass/theme.scss';

.about{
    text-align: center;
    width: 100%;
    margin-left: 300px;
    @include background-light;
    height: 100vh;

    @media screen and (max-width: 450px){
        width: 100%;
        margin-top: 10px;
        margin-left: 0px;
        height: min-content;
    }

    &__header{
        text-align: center;
    }

    &__holder{
        height: 55vh;
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media screen and (max-width: 450px){
            height: 80vh;
            display: grid;
            grid-template-columns: 1fr;            
        }
    }

    &__image-wrapper{
        width: 30%;
        height: 48%;
        background-color: $light-mode-text-border;            
        margin-left: 25%;
        margin-top: 8%;
        position: relative;

        @media screen and (max-width: 450px){
            width: 200px;
            height: 200px;
            margin-left: 25%;
            margin-top: 8%;
            position: relative;
        }

        img{
            position: absolute;
            width: 100%;
            top: -30px;
            left: 30px;

            @media screen and (max-width: 450px){
                width: 200px;
            }
        }
    }

    &__text{
        text-align: left;
        margin: 10px 0px;
        width: 80%;
        font-size: 1.15rem;

        @media screen and (max-width: 450px){
            width: 100%;
            align-items: center;
            margin-left: 5%;
            text-align: center;

            p{
                text-align: justify;                        
                width: 90%;
            }
        }

        &--header{
            color: $light-mode-text-border;
        }
    }

    &__buttons{
        width: 60%;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        margin-top: 10px;

        @media screen and (max-width: 450px){
            display: flex;
            justify-content: space-between;
            margin-left: 20px;
        }
    }
    
    &__button{
        width: 150px;
        a{
            box-shadow: 
            3px 3px 3px $light-mode-text;
            border-radius: 10px;
            width: 200px;
            height: 35px;
            background-color: $light-mode-text-border;
            color: $dark-mode-text;  
            text-align: center;
            padding-top: 5px;
            text-decoration: none;
        }

        &--second{
            color: $light-mode-text-border;     
            border: 1px solid $light-mode-text-border;
            a{
                background-color: $light-mode-text-button;
                color: $light-mode-text-border;
            }
        }
    }
    
    &__icons{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 25px;
        
        @media screen and (max-width: 450px){
            display: flex;
            flex-direction: column;
        }
    }

    .journey__icons{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 50px;
        margin-left: 50px;
        font-size: 1.2rem;
        height: 80%;

        @media screen and (max-width: 450px){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
        }
    }   

    .interest__header{
        width: 70%;

        @media screen and (max-width: 450px){
            width: 100%;
            margin-top: 50px;
        }
    }

    .interest__icons{
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 50px 6% 0;
        width: 80%;
        height: 90%;
        font-size: 1.2rem;

        @media screen and (max-width: 450px){
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 50px 0px;
        }
    }
}
.dark-mode .about{
    @include background-dark;

    &__image-wrapper{
      background-color: $dark-mode-text-border;            
    }

    &__text--header{
      color: $dark-mode-text-border;
    }

    &__button{
      a{
        box-shadow: 3px 3px 3px $dark-mode-text;
        background-color: $dark-mode-text-border;
        color: $light-mode-text;  
      }

      &--second{
        color: $dark-mode-text-border;     
        border: 1px solid $dark-mode-text-border;
        a{
          background-color: $dark-mode-text-button;
          color: $dark-mode-text-border;
      }
      }
    }
    
    .about-profile{
      .about-img{
        background-color: $dark-mode-text-border;
      }
      .about-text{
        h1{
          color: $dark-mode-text-border;
            }
            .about-button{
            background-color: $dark-mode-text-border;

          a{  
            color: $dark-mode-text;
          }
        }
        .about-buttontwo{
          @extend .about-button;
          background-color: $dark-mode-text-button;
          color: $dark-mode-text-border;     
          border: 1px solid $dark-mode-text-border;
          a{
              text-decoration: none;
              color: $dark-mode-text-border;     
          }
      }
    }
    .myJourneys{
      .myJourney-icon{ 
            color: $dark-mode-text-border;
            border: 1px dashed $dark-mode-text-border;   
          }
          .myJourney-text{
              :last-child{
                  color: $dark-mode-text-border;
              }
    }
  }

    .interest{
      .interestIcon-icon{
        color: $dark-mode-text-border;
      }
      .interestIcon-title{
        color: $dark-mode-text;
      }
    }
  }
}