@import "../../sass/theme.scss";

.contact-container{
    width: 100%;
    margin-left: 300px;
    @include background-light;
    
    h1{
        text-align: center;
    }

    .contact{
        width: 100%;
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
}

    .contact-inputs{
        margin: 100px auto;
        width: 70%;
    }
}

@media screen and (max-width: 400px){
    .contact-container{
        width: 100%;
        margin: 0px auto;

        .contact{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .contact-inputs{
            width: 90%;
            margin: 0 auto;
        }
    }
    
}