@import "../../sass/theme.scss";

.menu-icon{
    display: none;
}
.navbar-sideBar{
    width: 300px;
    border-right: 4px solid black;
    height: 100vh;
    position: fixed;
    background-color: $light-mode-navbar-bg;
    h1{
       width: 100px;
       margin: 15px 110px;

        &::first-letter{
            color: $light-mode-text-border;
        }
    }

    .navbar-links{
        width: 100px;
        display: flex;
        flex-direction: row;
        margin: -10px 100px;
    
        a{
            display: flex;
            flex-direction: row;
            color: $light-mode-text;
            text-decoration: none;
            line-height: 15px;
        }

        .navbar-link{
            margin-left: 10px;
        }
    }

    .navbar-footer{
        position: absolute;
        bottom: 0px;
        width: 100%;
        
        .navbar-social{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            
            .icon{
                color: black;
                font-size: 1.4rem;
            }
        }
        .navbar-copy{
            text-align: center;
        }
    }
}
@media screen and (max-width: 400px){
    .menu-icon{
        display: block;
        width: 50px;
        height: 30px;
        position: relative;
        font-size: 1.5rem;
        z-index: 100;
        margin: 20px 30px 10px;
        color: $light-mode-text-border;
        border-radius: 5px;
        background-color: white;
    }
    .navbar-sideBar{
        position: relative;
        width: 80%;
        height: 400px;
        margin: 0px 40px;
        border: 4px solid black;
        border-radius: 30px;
        h1{
            margin: 10px 35%;
        }
        .navbar-links{
            margin: -10px 30%;
            &:hover{
                font-weight: bold;
            }
            a{
                width: 50%;
            }
        }
    }
    .none{
        display: none;
    }
}