@import "../../sass/theme.scss";

.navbar-sideBar{
    width: 300px;
    border-right: 4px solid black;
    height: 100vh;
    position: fixed;
    font-size: 1.2rem;
    background-color: $light-mode-navbar-bg;

    h1{
       width: 100px;
       margin: 15px 110px;

        &::first-letter{
            color: $light-mode-text-border;
        }
    }
    .navbar-links{
        width: 100px;
        display: flex;
        flex-direction: row;
        margin: -10px 100px;
        
        a{
            display: flex;
            flex-direction: row;
            color: $light-mode-text;
            text-decoration: none;
            line-height: 15px;
        }
        
        .navbar-link{
            margin-left: 10px;
        }
        
    }
    .navbar-links-active {
        @extend .navbar-links;
        font-weight: bold;
    }

    .navbar-footer{
        position: absolute;
        bottom: 0px;
        width: 100%;
        
        .navbar-social{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            
            .icon{
                color: black;
                font-size: 1.7rem;
            }
        }
        .navbar-copy{
            text-align: center;
        }
    }
}
@media screen and (max-width: 450px){
    .navbar-container{
        width: 100%;
        position: relative;
        margin: 0;
        margin-top: 10px;

        .menu-icon{
            display: block;
            width: 40px;
            height: 30px;
            position: absolute;
            font-size: 1.5rem;
            z-index: 100;
            color: $light-mode-text-border;
            border-radius: 5px;
            background-color: white;
            left: 1%;
            top: 2%;
        }
        .navbar-sideBar{
            position: relative;
            width: 80%;
            height: min-content;
            margin: 0px auto;
            border: 4px solid black;
            border-radius: 30px;

            h1{
                width: 100%;
                margin: 10px 0;
                text-align: center;
            }
            .navbar-links-container{
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0px auto;
            }
            .navbar-footer{
                position: relative;
                height: min-content;
                margin: 0px;
                font-size: 0.5rem;
                margin-top: 20px;

                .icon{
                    font-size: 1.3rem;
                }
            }
        }
    }
}