@import "./sass/theme.scss";

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  max-height: 100vh; 
  color: $light-mode-text;
  @include background-light;
  transition: 1.5s;
}

body.dark-mode{
  background-color: $dark-mode-bg;
  color: $dark-mode-text;
  @include background-dark;
  transition: 1.5s;
  
  .themeChanger{
    background-color: $dark-mode-navbar-bg;
  }
  
  .aboutHome-container{
    border: 4px solid $dark-mode-text-border;
    background-color: $dark-mode-navbar-bg;

    .aboutHome-img{
      background-color: $dark-mode-text-border;
    }

      .aboutHome-text{
        h1{
          color: $dark-mode-text-border;
        }
    .aboutHome-buttons{
      .aboutHome-btnFirst{
          background-color: $dark-mode-text-border;                 
          a{
              color: $light-mode-text;
          }
      }
      .aboutHome-buttontwo{
          @extend .aboutHome-btnFirst;
          background-color: $dark-mode-text-button;
          color: $dark-mode-text-border;     
          border: 1px solid $dark-mode-text-border;
          a{
              color: $dark-mode-text-border;     
          }
      }
  }
    }
    .myJourneys{
      .myJourney-icon{ 
            color: $dark-mode-text-border;
            border: 1px dashed $dark-mode-text-border;   
          }
          .myJourney-text{
              :last-child{
                  color: $dark-mode-text-border;
              }
    }
  }
    .interest{
      .interestIcon-icon{
        color: $dark-mode-text-border;
      }
      .interestIcon-title{
        color: $dark-mode-text;
      }
    }
  }
  .navbar-sideBar{
    background-color: $dark-mode-navbar-bg;
    color: $dark-mode-text;
    h1{
       &::first-letter{
           color: $dark-mode-text-border;
       }
   }

   .navbar-links{
    color: $dark-mode-text;
      a{
          color: $dark-mode-text;
      }
    }
      .navbar-social{
          .icon{
              color: $dark-mode-text;
              font-size: 1.4rem;
          }
      }
  }

  .menu-icon{
    color: $dark-mode-text-border;
    background-color: black;
  }

  
  .home-container{
    @include background-dark;
    .home{
      border: 6px solid $dark-mode-text-border;
    } 
  }
  
  .home-mobile{
    @include background-dark;
    .home-title-mobile{
      border: 6px solid $dark-mode-text-border; 
      .home-mobile-btn{
        button{
          background-color: $dark-mode-text-border;
          a{
            color: black;   
          }                
        }
      }
    }
  }
  
  .navbarHome-sideBar{
    background-color: $dark-mode-navbar-bg;
    
    h1{
      &::first-letter{
        color: $dark-mode-text-border;
      }
    }
    .navbarHome-links{
      a{
        color: $dark-mode-text
      }
    }
    .navbarHome-footer{
      .icon{
        color: $dark-mode-text;
      }
    }
  }
  .about-container{
    @include background-dark;
    
    .about-profile{
      .about-img{
        background-color: $dark-mode-text-border;
      }
      .about-text{
        h1{
          color: $dark-mode-text-border;
            }
            .about-button{
            background-color: $dark-mode-text-border;

          a{  
            color: $dark-mode-text;
          }
        }
        .about-buttontwo{
          @extend .about-button;
          background-color: $dark-mode-text-button;
          color: $dark-mode-text-border;     
          border: 1px solid $dark-mode-text-border;
          a{
              text-decoration: none;
              color: $dark-mode-text-border;     
          }
      }
    }
    .myJourneys{
      .myJourney-icon{ 
            color: $dark-mode-text-border;
            border: 1px dashed $dark-mode-text-border;   
          }
          .myJourney-text{
              :last-child{
                  color: $dark-mode-text-border;
              }
    }
  }

    .interest{
      .interestIcon-icon{
        color: $dark-mode-text-border;
      }
      .interestIcon-title{
        color: $dark-mode-text;
      }
    }
  }
}
  .resume-wrapper{
    @include background-dark;

    .skill-bar{
      background-color: $dark-mode-text-border;
      }

      .education-icon{
        color: $dark-mode-text-border;
      }

      .education-date{
          color: $dark-mode-text-border;
      }
      .headerResume-icon{
        color: $dark-mode-text-border;
      }
  }

.contact-container{ 
    @include background-dark;
        
    .contactDetails-container{
      background-color: $dark-mode-navbar-bg;
      
      .contactDetails-icon{
          color: $dark-mode-text-border;
      }
    }
    .contactInput-button{     
      input[type=submit]{
          background-color: $dark-mode-text-border;
          color: $dark-mode-text-button;
      }
    }
  }
  .themeChanger{
    .themeChanger-icon{
        color: $dark-mode-text-border;
    }
}
.portfolio-contrainer{
  @include background-dark;
  color: $dark-mode-text;

  .project{
    background-color: $dark-mode-text-border;
  }
}
.services-container{
  @include background-dark;

  .service-box{
      border: 1px dashed $dark-mode-text-border;

      .service-icon{  
        color: $dark-mode-text-border;
      }
    }
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App{
  display: flex;
  flex-direction: row;
  position: relative;
  height: min-content;

  
  .toggle{
    position: absolute;
    right: 5%;
    top: 1%;
  }
}
@media screen and (max-width: 400px){
  .App{
    width: 90%;
    margin: 0px;
    display: flex;
    flex-direction: column;

    .toggle{
      position: absolute;
      left: 1%;
      margin-top: 5px;
      z-index: 1000;
    }
  }
}